{% extends 'app_public.html' %}

{% block title %} Webhook Configs {% endblock %}
{% block content %}
{% with messages = get_flashed_messages() %}
	{% if messages %}
		{% for message in messages%}
			{{message}}
		{%endfor %}
	{% endif %}
{% endwith %}

<div class="row">
  <div class="container col-xs-6 col-xs-offset-3">
    <br/>
    <div class="panel panel-default whpanel">
      <div class="panel-body">
        <div class="jumbotron whjumbotron">
          <h1>Webhooket</h1>
          <p>Webhooket is an application which allows you to sign up for a Braintree Webhook endpoint-- already equipped with the parsing code necessary to successfully trigger a response.</p>
        </div>
        <form class="form-horizontal" method="post" action="/login/">

          {{ form.csrf_token }}

          <div class="form-group">
            <label class="col-sm-2 control-label" for="username">
              {{ form.username.label }}
            </label>
            <div class="col-md-10 col-sm-12">
              {{ form.username(class="form-control")}}
            </div>
          </div>

          {% if form.username.errors %}
          <ul class="errors">
            {% for error in form.username.errors %}
            <li>
              {{ error }}
            </li>
            {% endfor %}
          </ul>
          {% endif %}

          <div class="form-group">
            <label class="col-sm-2 control-label" for="password">
              {{ form.password.label }}
            </label>
            <div class="col-md-10 col-sm-12">
              {{ form.password(class="form-control") }}
            </div>
          </div>

          {% if form.password.errors %}
          <ul class="errors">
            {% for error in form.password.errors %}
            <li>
              {{ error }}
            </li>
            {% endfor %}
          </ul>
          {% endif %}

            <div class="form-group">
              <div class="col-xs-6">
            {{ form.submit(class="btn whbtn ") }}
              </div>
              <div class="col-xs-6">
          <button type="button" class="btn whbtn btn-default " onclick="location.href='/signup/'">Sign Up!</button>
              </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
